# ME:4111 Scientific Computing and Machine Learning 
# Lecture 2: Python Programming - Pandas
# by Prof. Shaoping Xiao

### Import pandas library

In [1]:
import pandas as pd

### import our datafile mpg.csv, which contains fuel economy data for 234 cars.
##### mpg : miles per gallon;
##### class : car classification;
##### cty : city mpg;
##### cyl : # of cylinders;
##### displ : engine displacement in liters;
##### drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd;
##### fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG);
##### hwy : highway mpg;
##### manufacturer : automobile manufacturer;
##### model : model of car;
##### trans : type of transmission;
##### year : model year.

In [4]:
mpg = pd.read_csv('mpg.csv')
mpg.head() # show the first five rows

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

###  Basic data information

In [11]:
print(mpg['cty'])
print(mpg['cty'][1])
print(len(mpg))

0      18
1      21
2      20
3      21
4      16
5      18
6      18
7      18
8      16
9      20
10     19
11     15
12     17
13     17
14     15
15     15
16     17
17     16
18     14
19     11
20     14
21     13
22     12
23     16
24     15
25     16
26     15
27     15
28     14
29     11
       ..
204    15
205    15
206    16
207    21
208    19
209    21
210    22
211    17
212    33
213    21
214    19
215    22
216    21
217    21
218    21
219    16
220    17
221    35
222    29
223    21
224    19
225    20
226    20
227    21
228    18
229    19
230    21
231    16
232    18
233    17
Name: cty, Length: 234, dtype: int64
21
234

## b.	Find the average city fuel economy across all cars.  
###  find the average city fuel economy across all cars.

In [40]:
avgcty=sum(mpg['cty']) / (len(mpg)*1.0)
print(f'The average city fuel economy is {avgcty:.2f} mpg.')

The average city fuel economy is 16.86 mpg.

## C.	Use “set” to group the cars by the transmission types (‘trans’), and then find the average hwy mpg for each group.

### return the unique values for the number of transmission types the cars in our dataset have

In [19]:
transmissions_types = set(mpg['trans'])
print(transmissions_types)
type(transmissions_types)

{'auto(s6)', 'auto(l4)', 'auto(l5)', 'auto(l6)', 'auto(s5)', 'auto(l3)', 'manual(m6)', 'manual(m5)', 'auto(av)', 'auto(s4)'}

set

### grouping the cars by number of transmission types, and finding the average highway mpg for each group

In [39]:
HwyMpgByCyl = []
trans_typ = mpg['trans']
hwympg = mpg['hwy']

for t in transmissions_types: # iterate over all the cylinder numbers
    summpg = 0
    trans_count = 0
    for i in range(0, len(mpg), 1): # iterate over all cars
        if trans_typ[i] == t: # if the cylinder number matches,
            summpg += hwympg[i] # add the cty mpg
            trans_count += 1 # increment the count
    HwyMpgByCyl.append((t, summpg / trans_count)) # append the list ('cylinder number', 'avg mpg')

print(f'Answer 1:', *HwyMpgByCyl, sep = "\n")

HwyMpgByCyl.sort(key=lambda x: x[0])
print(f' \n Here is the list of the transmission types and their average mpg\'s: ', *HwyMpgByCyl, sep = "\n")

Answer 1:
('auto(s6)', 25.1875)
('auto(l4)', 21.96385542168675)
('auto(l5)', 20.71794871794872)
('auto(l6)', 20.0)
('auto(s5)', 25.333333333333332)
('auto(l3)', 27.0)
('manual(m6)', 24.210526315789473)
('manual(m5)', 26.29310344827586)
('auto(av)', 27.8)
('auto(s4)', 25.666666666666668)

 Here is the list of the transmission types and their average mpg's:
('auto(av)', 27.8)
('auto(l3)', 27.0)
('auto(l4)', 21.96385542168675)
('auto(l5)', 20.71794871794872)
('auto(l6)', 20.0)
('auto(s4)', 25.666666666666668)
('auto(s5)', 25.333333333333332)
('auto(s6)', 25.1875)
('manual(m5)', 26.29310344827586)
('manual(m6)', 24.210526315789473)

### d.	Use “set” to group the cars by the car classification (‘class’), and then find the average cty mpg for each group.

In [32]:
classification = set(mpg['class'])
print(classification)
type(classification)

{'suv', '2seater', 'compact', 'subcompact', 'minivan', 'pickup', 'midsize'}

set

### grouping the cars by number of tclassification of cars, and finding the average city mpg for each group

In [33]:
CtyMpgByCyl = []
class_list = mpg['class']
ctympg = mpg['cty']

for c in classification: # iterate over all the cylinder numbers
    summpg = 0
    class_count = 0
    for i in range(0, len(mpg), 1): # iterate over all cars
        if class_list[i] == c: # if the cylinder number matches,
            summpg += ctympg[i] # add the cty mpg
            class_count += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / class_count)) # append the list ('cylinder number', 'avg mpg')

print(f'Answer 1:', *CtyMpgByCyl, sep = "\n")
    
CtyMpgByCyl.sort(key=lambda x: x[0])
print(f' \n Here is the list of the classification of cars and their average city mpg\'s: ', *CtyMpgByCyl, sep = "\n")

Answer 1:
('suv', 13.5)
('2seater', 15.4)
('compact', 20.127659574468087)
('subcompact', 20.37142857142857)
('minivan', 15.818181818181818)
('pickup', 13.0)
('midsize', 18.75609756097561)

 Here is the list of the classification of cars and their average city mpg's:
('2seater', 15.4)
('compact', 20.127659574468087)
('midsize', 18.75609756097561)
('minivan', 15.818181818181818)
('pickup', 13.0)
('subcompact', 20.37142857142857)
('suv', 13.5)